@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  text-size-adjust:100%;
  font-family: sans-serif;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #e2e2e2;
  padding: 1rem 2rem;
  margin: 0;
}

h1 {
  line-height: 1.4;
  font-size: 1.5em;
}

.img-flex {
  width: 100%;
  display: block;
  vertical-align: middle;
}

a {
  background-color: #555;
  border: none;
  color: white;
  padding: 0.5em 0.75em;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
}

a:hover {
  background-color: #000;
}

p {
  text-align: left;
}

.btn {
  padding-top: 1em;
  padding-bottom: 1em;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  body {
    margin: auto;
    display: block;
  }

  header {
    max-width: 49%;
    vertical-align: top;
    display: inline-block;
  }

  footer {
    max-width: 49%;
    display: inline-block;
  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1 {
    margin: 1.1em;
  }

  section {
    max-width: 60em;
    margin: auto;
  }

  header {
    padding-right: 1.5rem;
    padding-left: 1.2rem;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }
}
